<!DOCTYPE html>
<html
  lang="ko"
  xmlns:layout="http://www.ltraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <section layout:fragment="content">
    <form class="main" method="POST" th:action="@{/input}">
      <div class="input">
        <label for="">도서코드</label>
        <input
          id="b_code"
          name="b_code"
          placeholder="도서코드"
          th:value="${BOOK.b_code}"
          readonly
        />
        <div class="error code"></div>
      </div>
      <div class="input">
        <label for="">도서명</label>
        <input
          id="b_name"
          name="b_name"
          placeholder="도서명"
          th:value="${BOOK.b_name}"
        />
        <div class="error name"></div>
      </div>
      <div class="input">
        <label for="">저자</label>
        <input
          id="b_auther"
          name="b_auther"
          placeholder="저자"
          th:value="${BOOK.b_auther}"
        />
        <div class="error auther"></div>
      </div>
      <div class="input">
        <label for="">출판사</label>
        <input
          id="b_comp"
          name="b_comp"
          placeholder="출판사"
          th:value="${BOOK.b_comp}"
        />
        <div class="error comp"></div>
      </div>
      <div class="input">
        <label for="">구입연도</label>
        <input
          id="b_year"
          name="b_year"
          placeholder="구입연도"
          th:value="${BOOK.b_year}"
        />
        <div class="error year"></div>
      </div>
      <div class="input">
        <label for="">구입가격</label>
        <input
          id="b_iprice"
          name="b_iprice"
          placeholder="구입가격"
          th:value="${BOOK.b_iprice}"
        />
        <div class="error iprice"></div>
      </div>
      <div class="input">
        <label for="">대여가격</label>
        <input
          id="b_rprice"
          name="b_rprice"
          placeholder="대여가격"
          th:value="${BOOK.b_rprice}"
        />
        <div class="error rprice"></div>
      </div>
      <div class="input">
        <label for="">사용유무</label>
        <input
          id="b_use"
          name="b_use"
          placeholder="사용유무"
          th:value="${BOOK.b_use}"
        />
        <div class="error use"></div>
      </div>
      <div class="input button">
        <button id="btn_save" type="button">저장</button>
      </div>
    </form>
  </section>
</html>
